* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 50px;
  margin-left: 10px;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

#email , #password , .submit-button {
  margin: 10px;
  width: 100px;
  border-radius: 5px;
}

#trybewarts-header-title {
  display: flex;
}

main {
  display: flex;
  background-color: rgb(212, 212, 212);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 40px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}

#identify {
  display: flex;
  flex-direction: column;
}

#input-name , #input-lastname {
  width: 48.8%;
  border-radius: 5px;
}

#input-email , #house {
  width: 45.3%;
  border-radius: 5px;
}

#family-section {
  display: flex;
}

#fs-1 {
  flex-basis: 300px;
  margin: 5px;
}

#fs-2 {
  margin: 5px;
}

textarea {
  resize: none;
  width: 100%;
}

#counter {
  display: flex;
  justify-content: end;
}

#trybewarts-forms-logo {
  height: 500px;
}

#submit-btn {
  width: 100%;
  color: white;
  background-color: rgb(146, 146, 226);
  border-radius: 10px;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  height: 30px;
  justify-content: center;
  align-items: center;
}
